/* Scheduling CSS rules */
/*test*/
h1 {
  text-align: center;
  padding-top: 2%;
}

body {
  height: 100%;
  background-color: #e0e0e0; /* Slightly darker grey */
  margin-bottom: 100px;
}

.event:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  height: 0;
}

#calendar {
  height: 100vh !important;
}

.custom-container {
  width: 100%;
  padding: 20%;
}

/* General CSS items */
.parentbox {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.parentboxcenter {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.childtextbox {
  text-align: center;
  background-color: aliceblue;
  border-style: double;
  justify-content: center;
  flex-direction: row;
}

.childtextboxpadded {
  text-align: center;
  background-color: aliceblue;
  border-style: double;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.scroll-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 100;
}

.hidden-footer {
  transform: translateY(100%);
  opacity: 0;
}

.visible-footer {
  transform: translateY(0);
  opacity: 1;
}



/* General page styling */
h1, h2 {
  text-align: center;
}

.page-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.section-title {
  font-size: 2rem;
  color: #555;
  margin-top: 40px;
  margin-bottom: 20px;
}

.lead {
  font-size: 1.25rem;
  color: #666;
}


/* Photo section */
.photo-section img.team-photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photo-caption {
  margin-top: 10px;
  font-size: 1rem;
  color: #444;
}

.team-photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  object-fit: cover; /* Ensures consistent cropping */
  width: 300px; /* Fixed width */
  height: 300px; /* Fixed height */
}

/* No matches section */
.no-matches-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust height to center vertically */
  text-align: center;
}

.no-matches-text {
  font-size: 1.5rem; /* Make the text larger */
  font-weight: bold; /* Make the text bold */
}

