<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/resources/css/style.css">
  
</head>
<body>
  <div class="container mt-5">
    <section class="scroll-section text-center">
      <h1 class="page-title">About Us</h1>
      <p class="lead">We are a group of students at the University of Colorado Boulder, sharing the same class. We all share a passion for coding and hope that through this project we are better able to program in a profesional environment in the future.</p>
    </section>

    <section class="scroll-section text-center">
      <h2 class="section-title">Our Mission</h2>
      <p>The goal of Skillswap is to join link minded people who can impart knowledge on eachother. You will learn from someone about something you want, and they will learn from you about something you know.</p>
    </section>

    <section class="scroll-section photo-section text-center">
      <h2 class="section-title">Meet Our Team</h2>
      <div class="row mt-4">
        <!-- First Row: 3 Team Members -->
        <div class="col-md-4 col-sm-12">
          <img src="/resources/images/Jake.png" alt="Team Member 1" class="team-photo">
          <p class="photo-caption">Jake Huebner</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="/resources/images/Annika.jpg" alt="Team Member 2" class="team-photo">
          <p class="photo-caption">Annika Polavarapu</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="/resources/images/Gavin.JPG" alt="Team Member 3" class="team-photo">
          <p class="photo-caption">Gavin Unrue</p>
        </div>
      </div>
      <div class="row mt-4">
        <!-- Second Row: 2 Team Members -->
        <div class="col-md-6 col-sm-12">
          <img src="/resources/images/Anthony.jpg" alt="Team Member 4" class="team-photo">
          <p class="photo-caption">Anthony Liu</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="/resources/images/Evan.jpg" alt="Team Member 5" class="team-photo">
          <p class="photo-caption">Evan Mohan</p>
        </div>
      </div>
    </section>

    <section class="scroll-section text-center">
      <h2 class="section-title">Our History</h2>
      <p>We meet during a recitation for our CSCI 3308 class. When it was time for us to form groups for this project, we knew that we wanted to be in a group together.</p>
    </section>

  <div style="height: 50px;"></div>

  </div>

  <script src="/resources/js/script.js"></script>
</body>
</html>