{{> header}}

<link rel="stylesheet" href="/resources/css/style.css">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      {{> message}}
      <h2>Logout Successful</h2>
      <a href="/login" class="btn btn-primary">Return to Login</a>
    </div>
  </div>
</div>

{{> footer}} 